<html>
<head>
    <title>{{ capitulo.titulo }}</title>
</head>
<body>
    {%if anterior %}
    <a href="/libros/lector/{{anterior}}">Anterior</a>
    {%endif%}
    <a href="/libros/libro/id/{{capitulo.libro.pk}}">   VOLVER   </a>
    {%if siguiente %}
    <a href="/libros/lector/{{siguiente}}">Siguiente</a>
    {%endif%}
    <div>
        {{contenido|safe}}
    </div>
    {%if anterior %}
    <a href="/libros/lector/{{anterior}}">Anterior</a>
    {%endif%}
    <a href="/libros/libro/id/{{capitulo.libro.pk}}">   VOLVER   </a>
    {%if siguiente %}
    <a href="/libros/lector/{{siguiente}}">Siguiente</a>
    {%endif%}
</html